<h2>Passwort ändern</h2>

<% form_for @user, :url => password_reset_path, :method => :put do |f| %>
  <%= f.error_messages %>
  <p>
  <%= f.label :password, "Passwort" %>
  <%= f.password_field :password %>
  </p>
  <p>
  <%= f.label :password_confirmation, "Passwort wiederholen" %>
  <%= f.password_field :password_confirmation %>
  </p>
  <p>
  <%= f.submit "Passwort ändern und einloggen" %>
  </p>
<% end %>