<% if matches.first.class != Preliminary && matches.first.class != Final %>
  <% matches.each do |key, value| %>
    <li class="group">
      <ul>
      <h<%= level %>><%= key %></h<%= level %>>
      <%= render :partial => 'print_match_list', :locals => { :matches => value, :level => (level + 1) } %>
      </ul>
    </li>
  <% end %>
<% else %>
  <% matches.sort_by{ |m| m.starts_at }.each do |match| %>
    <%= render :partial => 'match_entry', :locals => { :match => match } %>
  <% end %>
<% end %>