<li>
  <em><%= match.team_1.name %> : <%= match.team_2.name %></em>
  <em><%= "#{tip.score}" if tip %></em>
  <em><%= "#{match.score}" if match.score != ':' %></em>
  <small><%= match.starts_at %></small>
</li>