<li>
  <em class="teams"><%= match.team_1.name %> : <%= match.team_2.name %></em>
  <em class="score"><%= "#{tip.score}" if tip %></em>
  <em class="score"><%= "#{match.score}" if match.score != ':' %></em>
  <small class="date"><%= match.starts_at %></small>
</li>