<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta http-equiv="imagetoolbar" content="no" />
  <meta name="MSSmartTagsPreventParsing" content="true" />
  <meta name="description" content="Who will be the winner of the Football World Championship 2010? What do you think?" />
  <meta name="keywords" content="WM 2010 Football World Championship" />
  <title>tipSpiel</title>
  
  <%= javascript_include_tag :defaults %>
  <%= stylesheet_link_tag("application") %>
  <%= csrf_meta_tag %>
</head>
<body>
  
  <div id="page-container">
    
    <div id="title-and-navigation">
      
      <div id="title-image">
        <%= link_to image_tag("footballplayer.png", :alt => "Fußball", :border => 0, :width => '170px'), root_path %>
      </div>
      
      <h1>3 - 2 - 1 - tippen!</h1>
      
      <ul>
        <li <%= "class='checked'" if controller.controller_name == 'matches' %>>
          <%= link_to "Spiele", matches_path %>
        </li>
         <li <%= "class='checked'" if controller.controller_name == 'teams' %>>
          <%= link_to "Mannschaften", teams_path %>
        </li>
        <li <%= "class='checked'" if controller.controller_name == 'tips' %>>
          <% link = session[:user_id] ? tips_path : new_session_path %>
          <%= link_to "Tipps", link %>
        </li>
        <% if logged_in? %>
          <li <%= "class='checked'" if controller.controller_name == 'users' && params[:action] == 'index' %>>
            <%= link_to "Tipperliste", users_path %>
          </li>
          <li <%= "class='checked'" if controller.controller_name == 'users' && params[:action] != 'index' %>>
            <%= link_to "Profil", user_path(User.find session[:user_id]) %>
          </li>
          <li <%= "class='checked'" if controller.controller_name == 'sessions' %>>
            <%= link_to "Logout", session_path, :method => :delete %>
          </li>
        <% else %>
          <li <%= "class='checked'" if controller.controller_name == 'sessions' %>>
            <%= link_to "Login", new_session_path %>
          </li>
          <li <%= "class='checked'" if controller.controller_name == 'users' %>>
            <%= link_to "Registrieren", new_user_path %>
          </li>
        <% end %>        
      </ul>      
    </div><!-- /title-and-navigation -->
    
    <% if flash[:notice] %>
    <div id="notice"><%= flash[:notice] %></div>
    <% end %>
    <div id="content">
      <%= yield %>
    </div>


    <div id="footer">
      <h1>Nächste Spiele tippen</h1>
      <ul>
        <% Match.next_matches.each do |match| %>
        <li>
          <%= match.team_1.name %> : <%= match.team_2.name %>
          <small class="date"><%= match.starts_at %></small>
        </li>
        <% end %>
      </ul>
    </div>
  </div><!-- /page-container -->
</body>
</html>
